// Core variables and mixins
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";


header, footer {
}

article {
    min-height: 200px;

    aside:first-child {
    }

    section {
    }

    aside:last-child {
    }
}

#dropbox-explorer {


    span.glyphicon {
        font-size: 1.5em;

        &.glyphicon-folder-close {
            color: #CFB75C;
        }

        &.glyphicon-file {
            color: green;
        }

        margin-right: 5px;
    }
}
