article {
    min-height: 200px;
}

#dropbox-explorer span.glyphicon {
    font-size: 1.5em;
    margin-right: 5px;
}

#dropbox-explorer .glyphicon-folder-close {
    color: #CFB75C;
}

#dropbox-explorer .glyphicon-file {
    color: green;
}

.alert {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}

ul:last-child,
p:last-child {
    margin-bottom: 0;
}


@media print {

a[href]:after {
    content: "";
  }

  abbr[title]:after {
    content: "";
  }

}
