@model ArcEconomics.ViewModels.ViewModelBase

@if (Model.SiteNavigation.BreadCrumb != null)
{
    <ol class="breadcrumb">
        @foreach (ArcEconomics.Models.PageLink link in Model.SiteNavigation.BreadCrumb)
        {
            // detect current page
            string cssClass;
            if (Model.SiteNavigation.CurrentPage.Equals(link))
            {
                cssClass = "active";
            }
            else
            {
                cssClass = string.Empty;
            }

            // HACK This could be more DRY.
            if (link.Path == null || link.Path.Length == 0)
            {
                <li class="@cssClass">@Html.ActionLink(link.LinkText, link.ActionName, new { controller = link.ControllerName })</li>
            }
            else
            {
                <li class="@cssClass">@Html.ActionLink(link.LinkText, link.ActionName, new { controller = link.ControllerName, path = link.Path })</li>
            }
        }
    </ol>
}