@model ArcEconomics.ViewModels.EditorViewModel


<div class="well">

    <input id="actionName" type="hidden" value="@Model.Editor.ActionName" />
    
    <textarea id="editor1" name="editor">@Model.Editor.EditorData</textarea>    
    <button id="editor1-save" type="button" class="btn btn-primary">Save</button>

</div>