@model ArcEconomics.Models.ContactInfo

<address>
    <strong>Arc Economics, Inc.</strong><br>
    795 Folsom Ave, Suite 600<br>
    Salt Spring Island, BC, H0H, H0H<br>
    <abbr title="Phone">P:</abbr> (123) 456-7890
</address>

<address>
    <strong>Andy Rowe</strong><br>
    <a href="mailto:andy@arceconomics.com">andy@arceconomics.com</a>
</address>