

<div class="well well-sm">


    <div class="row">

        <div class="col-lg-6">

            @Html.Partial("_LoginPartial")

        </div>

        <div class="col-lg-6">

            <ul class="list-inline pull-right">

                <li>Website by <a href="http://www.bigfont.ca">BigFont</a></li>

            </ul>

        </div>


    </div>

</div>

