@model ArcEconomics.ViewModels.ViewModelBase

<nav class="navbar navbar-default" role="navigation">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#my-navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">ARC</a>
    </div>

    <div class="collapse navbar-collapse" id="my-navbar">
        <ul class="nav navbar-nav">

            @foreach (ArcEconomics.Models.PageLink link in Model.SiteNavigation.TopLevelPages)
            {
                string cssClass = String.Empty;
                ////if(link.iscurrenttoplevelpage)
                ////{
                ////    cssclass = "active";
                ////}
                ////else
                ////{
                ////    cssclass = string.empty;
                ////}

                // HACK This could be more DRY.
                if (link.Path == null || link.Path.Length == 0)
                {
                    <li class="@cssClass">@Html.ActionLink(link.LinkText, link.ActionName, new { controller = link.ControllerName })</li>
                }
                else
                {
                    <li class="@cssClass">@Html.ActionLink(link.LinkText, link.ActionName, new { controller = link.ControllerName, path = link.Path })</li>
                }
            }

        </ul>
    </div>
</nav>
