@model ArcEconomics.ViewModels.ViewModelBase

<nav class="navbar navbar-default" role="navigation">

    <div class="collapse navbar-collapse">

        <ul class="nav navbar-nav">

            @foreach (ArcEconomics.Models.PageLink link in Model.SiteNavigation.Pages)
            {
                string cssClass;
                if(link.IsCurrentPage)
                {
                    cssClass = "active";
                }
                else
                {
                    cssClass = string.Empty;
                }
                
                // HACK This could be more DRY.
                if(link.Id == null || link.Id.Length == 0)
                {
                    <li class="@cssClass">@Html.ActionLink(link.LinkText, link.ActionName, new { controller = link.ControllerName })</li>
                }
                else
                {
                    <li class="@cssClass">@Html.ActionLink(link.LinkText, link.ActionName, new { controller = link.ControllerName, id = link.Id })</li>
                }
            }

        </ul>
    </div>
</nav>