@model ArcEconomics.ViewModels.DirectoryViewModel

<h2>@Model.CurrentDropBoxDirectory.Name</h2>

<ul>
    @foreach (ArcEconomics.Models.DropBoxFile file in Model.CurrentDropBoxDirectory.ChildFiles)
    {
        <li>@file.Name</li>
    }
</ul>

<ul>
    @foreach (ArcEconomics.Models.DropBoxDirectory dir in Model.CurrentDropBoxDirectory.ChildDirectories)
    {
        <li>@dir.Name</li>
    }
</ul>