@model ArcEconomics.ViewModels.DirectoryViewModel

<ul>
    @foreach (ArcEconomics.Models.DropBoxFile file in Model.CurrentDropBoxDirectory.ChildFiles)
    {
        <li><a href="@file.PublicUrl">@file.Name</a></li>
    }
</ul>
<ul>
    @foreach (ArcEconomics.Models.DropBoxDirectory dir in Model.CurrentDropBoxDirectory.ChildDirectories)
    {
        <li>@Html.ActionLink(@dir.Name, "Directory", new { controller = "Home", path = dir.Path })</li>
    }
</ul>